/* UserProfile.css */


  

  @font-face {
    font-family: 'Inter';
    src: url('../../Fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  

.profile-container {
    max-width: 935px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-username {
    display: flex;
    align-items: center;
  }
  
  .profile-username h2 {
    margin-right: 20px;
    font-size: 28px;
    font-weight: 400;
  }
  
  .edit-profile-btn {
    padding: 5px 10px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .profile-stats {
    display: flex;
    gap: 20px;
    margin: 10px 0;
  }
  
  .profile-stats p {
    font-size: 16px;
  }
  
  .profile-bio {
    font-size: 14px;
  }
  
  .profile-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .gallery-item {
    
   
  }
  
  .namee{
    font-weight: bold;
    font-family: 'Inter';
  }
  .hotFix{
    width: 360px;
    width: 255px;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del div, recortando si es necesario */
}


/* From Uiverse.io by alexroumi */ 
.goFeed_btn {
  padding: 5px 8px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .goFeed_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .goFeed_btn:hover {
  color: #e8e8e8;
 }
 
 .goFeed_btn:hover::before {
  width: 100%;
 }