
/*COntenedor de todo el feed, donde aparecen los post, header, etc*/
.feedContainer {
  width: 100%;
  max-width: 600px;
  text-align: left;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100vh;
  }

.postContainer{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  color: #333;
  margin-top: 0;
  text-align: left;
}

:root {
  background: white;
}

.feedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.feedHeader h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.feedHeader .iconos {
  display: flex;
  gap: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Hace que el body ocupe el 100% de la altura de la pantalla */
  margin: 0;
  background-color: #f0f0f0; /* Color de fondo, opcional */
}

.feedHeader{
  display: flex;
  justify-content: space-between;
}

#root{
  padding: 0;
}

.batteryImage {
  width: 100%; /* Cambia este valor para ajustar el tamaño que prefieras */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0px; /* Añade un pequeño margen si es necesario */
  display: flex;
  justify-content: right;
  max-width: 600px;
}