.feedcontainer {
    width: 100%;
    text-align: left;
    padding: 10px; 
    background-color: white;
    margin: 10px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #333;
    margin-top: 0; 
    text-align: left;
}

:root{
    background: white;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
  
  .app-name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .icons {
    display: flex;
    gap: 15px; /* Espacio entre los íconos */
  }
  
  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  