.imgComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgContainer img {
    width: 98%;
    height: 95%;
    object-fit: cover;
    display: block;
    padding-top: 5px;
}

.imgContainer {
    width: 100%;
    max-width: 468px;
    max-height: 500px;
    height: auto;
    overflow: hidden;
    position: relative;
}
