.Modal {
    background-color: white;
    outline: none;
    border-radius: 0px;

    position: absolute;

    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

    width: auto;
    height: auto;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (width >=768px) {
    .Modal {
        border-radius: 15px;
        top: 10%;
        bottom: 10%;
        left: 10%;
        right: 10%;
    }
}

@media (width >=1440px) {
    .Modal {
        top: 10%;
        bottom: 10%;
        left: 20%;
        right: 20%;
    }
}
