.Modal {
    background-color: white;
    outline: none;
    border-radius: 0px;

    position: absolute;

    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.input {
    background-color: white;
    opacity: 1;

    align-self: center;
    padding: 1%;
    border-radius: 20px;
    font-size: inherit;
    border-width: 1px;
    border-color: black;

    width: 80%;
}

.send {
    font-size: 28px;
}

.inputcontainer {
    align-self: center;
    position: absolute;
    top: 90%;
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media (width >=768px) {
    .Modal {
        border-radius: 15px;
        top: 10%;
        bottom: 10%;
        left: 10%;
        right: 10%;
    }

    .input {
        top: 90%;
    }
}

@media (width >=1440px) {
    .Modal {
        top: 10%;
        bottom: 10%;
        left: 20%;
        right: 20%;
    }
}
